<%= render 'components/navbar' %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<div class="container">
 <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-light btn-lg" %>
  <div class="index-cards">
    <% @cocktails.each do | cocktail | %>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path cocktail.photo.key %>')">
        <h3><%= cocktail.name %></h3>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
