<%= render 'components/show-navbar' %>
<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508028209469-933de69c0f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <h1>Create your own</h1>
    <div class="container">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: "Cocktail name" %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "add-button mt-3 create"%>
    
    <% end %>
    </div>
</div>

<footer class="text-center pb-3">
    <%= link_to "Back to all cocktails", root_path, class: "back-delete" %>
</footer>